{% extends 'base.html'%}
{% load static%}
{% block content%}
{% if not request.session.userid %}
<script>
    alert('You have login first...')
    location.href="/user/signin/"
</script>
{% endif %}
<div class="fs-2 text-center">Your items in  <b class="text-ocolor">Cart
    <i class="fa-solid fa-user"></i>
</b></div>

<table class=" table table-striped">
    <tr>
    <th>Product Picture</th>
    <th>Price</th>
    <th>After Discount</th>
    <th>Size</th>
    <th>Color</th>
    <th>Product Delivery</th>
    <th>added Date</th>
    <th>Delete</th>
    <th>Order</th>
    </tr>
    {% for i in cdata %}
    <tr>
        <td><img src="/{{i.7}}" style="max-height:150px;" class="img-thumbnail"></td>
        <td class="text-danger fw-bold">{{i.1}}</td>
        <td class="text-danger fw-bold">{{i.2}}</td>
        <td><span class="btn bg-ocolor">{{i.3}}</span></td>
        <td><div style="height:45px;width:45px;border-radius:3px;background:{{i.4}}"></div></td>
        <td>{{i.8}}</td>

        <td>{{i.15}}</td>
        <td><a href="/user/showcart?msg={{i.11}}" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i>
        </a></td>
        <td><a href="/user/showcart?cid={{i.11}}&pid={{i.13}}" class="btn bg-ocolor">Order now</a></td>
    </tr>
{% endfor %}
</table>
{% endblock %}